@import "font-awesome/fonts/fonts.css";

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    display: block;

}

input[type="radio"] {
    display: none;
}

button, textarea:focus {
    outline: none;
}

body {
    /*font-family: 'Poppins';*/
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;

}


div a:hover {
    text-decoration: none;
    color: var(--black);
}


:root {
    --black: #0B1727;
    --darkBlue: #1D3557;
    --grayWhite: #D9D9D9;
    --myBlue: #0076C9
}

.header__email a {

    font-weight: 700;
    font-size: 16px;
    color: var(--black);

}

.header__email {
    position: relative;
    padding-left: 40px;
}

.header {

    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--grayWhite);
}

.header__email:before {
    content: url("../../image/mail.svg");
    position: absolute;
    left: 0;
    width: 24px;
    height: 22px;
    top: 0;
    bottom: 0;
    margin: auto;

}

.header__number-links {
    display: block;
    color: var(--black);
    font-size: 16px;
    font-weight: 700;
}

.header__wrapper {
    height: 50px;
}

.header__number {
    position: relative;
    padding-left: 38px;
}

.header__number:before {
    position: absolute;
    content: url("../../image/phone.svg");
    width: 20px;
    height: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.header__button {
    width: 100%;
    border: 3px solid var(--darkBlue);
    background-color: white;
    height: 50px;
    text-align: center;
    line-height: 40px;
    border-radius: 7px;
    color: var(--darkBlue);
    font-size: 16px;
    font-weight: 700;
}

.nav-menu-block {
    position: absolute;
    right: 0;
    width: 550px;
    background-color: var(--black);
    background-image: url("../../image/menu-bg.png");
    background-position-y: top;
    background-position-x: right;
    background-repeat: no-repeat;
    box-shadow: -7px 4px 16px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 0 10px;
    z-index: 6;
}

.nav-menu__icon-wrapper {

    padding-top: 40px;
    padding-bottom: 25px;
    padding-left: 120px;
}

.user-icon {
    width: 33px;
    height: 32px;
}

.burger-icon {
    width: 45px;
    height: 45px;
    margin-left: 50px;
}

.nav-menu {
    padding-left: 90px;

}

.nav-menu__links {

    color: white;
    font-weight: 500;
    font-size: 16px;
    padding-top: 10px;

}

.nav-menu__links:hover {
    color: white;
}

.nav-menu__item {
    margin-bottom: 59px;
    position: relative;
}

.nav-menu__item svg {
    position: absolute;
    left: -45px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.main {
    overflow: hidden;
}

.main-microchips {
    top: 0;
    position: absolute;
    z-index: 2;
}

.main-bg-gray {
    top: 0;
    z-index: -1;
    position: absolute;
    left: 0;
}

.main__title {
    /*font-family: 'Druk Cyr';*/
    margin-top: 120px;
    /*font-size: 85px;*/
    /*font-weight: 500;*/
    /*color: var(--black);*/
    /*text-transform: uppercase;*/
    /*line-height: 87.4%;*/
    /*text-align: right;*/

}

.title {
    font-family: 'Druk Cyr';
    font-size: 85px;
    font-weight: 500;
    text-transform: uppercase;

}

.main__title b {
    color: var(--myBlue);
}

.main__descr {
    margin-top: 35px;
    font-weight: 400;
    font-size: 16px;
}

.main__descr b {
    font-weight: 700;
}

.main__button {
    margin-top: 40px;

}

.short__button {
    color: #1D3557;
    width: 160px;
    height: 58px;
    border: 3px solid #1D3557;
    border-radius: 7px;
    background-color: white;
    line-height: 54px;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
}

.main-icons {
    margin-top: 90px;
}

.main-icon {
    margin-right: 20px;

}

.main-img-microchips {
    position: absolute;
    right: -90px;
    top: -133px;
}

.main__swiper {
    height: 750px;
    z-index: 5;
}

.main__swiper .swiper-pagination {
    bottom: 50px !important;
}

.main__swiper .swiper-pagination .swiper-pagination-bullet-active {
    border-radius: 29px;
    background-color: var(--myBlue);
    width: 45px;
    height: 5px;
}

.main__swiper .swiper-pagination .swiper-pagination-bullet {
    border-radius: 29px;
    background-color: var(--myBlue);
    width: 5px;
    height: 5px;
}

.main__swiper .swiper-pagination .swiper-pagination-bullet-active {
    border-radius: 29px;
    background-color: var(--myBlue);
    width: 45px;
    height: 5px;
}

.about-companies__bg {
    top: -80px;
    position: absolute;
}

.about-companies {
    margin-top: 125px;
    overflow: hidden;

}

.about-companies__title {
    line-height: 65px;
}

.about-companies__subtitle {
    position: relative;
    font-weight: 500;
    font-size: 21px;
    line-height: 140%;
    height: 58px;

}

.about-companies__subtitle:before {
    position: absolute;
    content: '';
    width: 3px;
    height: 79px;
    background-color: var(--black);
    left: -40px;
    top: 15px;
}

.about-companies__descr {
    margin-top: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

.about-companies__descr b {
    font-weight: 700;
    color: var(--black);
}

.about-companies__list-item {
    position: relative;
    margin-top: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: var(--black);
    padding-left: 25px;
}

.about-companies__list-item:before {
    position: absolute;
    content: url("../../image/about-companies__list-item.svg");
    left: 0;

}

.about-companies__button {
    margin-top: 50px;
}

.clients {
    position: relative;
    margin-top: 100px;
    padding-bottom: 185px;
    overflow: hidden;
}

.clients__title {
    font-weight: 500;
    line-height: 74px;
}

.section__descr {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: var(--black);
}

.title b {
    color: var(--myBlue);
}

.clients__descr {
    margin-top: 80px;
}

.clients-img-left {
    position: absolute;
    top: 150px;
}

.clients-img-right {
    position: absolute;
    right: -40px;
    top: -200px;
}

.clients__img-block {
    width: 300px;
    height: 270px;
    background-color: #F1F1F1;
    margin-bottom: 35px;

}

.clients__img-block img {

}

.clients__images-wrapper {
    width: 300px;
}

.clients__swiper .swiper-slide {
    /*width: 300px !important;*/

}

.clients__swiper {
    width: 1290px
}

.clients__progress-swiper.swiper-pagination-horizontal {
    position: relative;
    bottom: 0;
    top: auto;
    left: auto;
    width: 730px;
    height: 4px;
    border-radius: 9px;
    background: var(--grayWhite);

}

.clients__progress-swiper .swiper-pagination-progressbar-fill {

    background-color: var(--black);
    border-radius: 17px;
}

.clients__number-swiper {
    position: relative;
    width: 45px;
    margin-left: 15px;
    user-select: none;
}

.clients__number-swiper span {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: var(--black);


}

.clients__swiper-prev.swiper-button-disabled {
    opacity: .6;
}

.clients__swiper-next.swiper-button-disabled {
    opacity: .6;
}

.clients__btn-swiper {
    position: relative;
    top: -15px;
    margin-left: 55px;

}

.clients__btn-swiper div {
    cursor: pointer;
}

.clients__swiper-next {
    margin-left: 30px;
}

.services {
    background: #EEEEEE;
    box-shadow: inset 0 -19px 64px rgba(0, 0, 0, 0.1), inset 0px 13px 25px rgba(0, 0, 0, 0.1);
    height: 500px;
    overflow: hidden;
}

.services__title {
    position: relative;
    padding-top: 20px;
    line-height: 74px;
    text-transform: none;
    font-size: 81px;
}

.services__title:before {
    position: absolute;
    right: -70px;
    top: 100px;
    content: url("../../image/services__line.svg");
}

.services__descr {
    margin-top: 50px;
}

.services__completed-projects {
    position: relative;
    margin-top: 25px;
    font-weight: 500;
    font-family: 'Druk Cyr';
    font-size: 85px;
    color: var(--black);
    padding-right: 30px;
    line-height: 74px;
}

.services__completed-projects span {
    color: var(--myBlue);
}

.services__completed-projects:before {
    position: absolute;
    right: 0;
    content: 'Our orders';
    font-family: 'Druk Cyr';
    font-size: 51px;
    bottom: -15px;
}

.services__card {
    width: 123px;
    height: 216px;
    background-color: white;
    padding: 10px;
    border: 1px solid #D2D2D2;
    box-shadow: 0px 10px 23px rgba(18, 41, 86, 0.15);
    border-radius: 21px;
    margin-top: 10px;
}

.services__card-img {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.services__list {
    animation: scroll 40s linear .4s infinite;
    left: 0;

    position: absolute;
    top: 0;
    transform: translateY(0);
}

.services__card-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 21px;
    font-family: 'Druk Cyr';
    text-align: right;
    margin-top: 20px;
}

.services__list:nth-of-type(1) {
    margin-top: -110px;
}

.services__list:nth-of-type(2) {
    margin-top: -90px;
    left: 133px;
}

.services__list:nth-of-type(3) {
    margin-top: -10px;
    left: 266px;
}

.services__list:nth-of-type(4) {
    margin-top: -110px;
    left: 399px;
}

.services__list:nth-of-type(5) {
    margin-top: -90px;
    left: 532px;
}

.services__list:nth-of-type(6) {
    margin-top: -10px;
    left: 665px;
}

.services__img-left {
    position: absolute;
    left: 0;
    top: -200px;
    z-index: -1;
}

.services__img-right {
    right: 0;
    top: 10px;
    position: absolute;
    height: 230px;
}

.services-after-img {
    height: 190px;
    overflow: hidden;
}

.consultation {
    background: #0B1727;
    padding-top: 42px;
    padding-bottom: 70px;
    overflow: hidden;
}

.consultation__subtitle {
    font-family: 'Druk Cyr';
    margin-top: 20px;
    font-weight: 500;
    color: white;
    font-size: 67px;
    line-height: 58px;
    padding-bottom: 70px;
}

.input-subtitle {
    font-weight: 700;
    color: white;
    font-size: 18px;
    line-height: 27px;
}

.input-line {
    width: 300px;
    outline: none;
    font-weight: 500;
    font-size: 18px;
    background: none;
    color: white;
    border: none;
    padding-bottom: 15px;
    border-bottom: 2px solid #F8F8F8;
}

.consultation__input {
    margin-top: 15px;
}

.input-line::placeholder {
    color: rgba(255, 255, 255, 0.53);
}

.checkbox-white-box {
    display: none;
}

.checkbox-white-box + label {
    font-weight: 400;
    font-size: 16px;
    color: white;
    padding-left: 31px;
    position: relative;
    user-select: none;
    cursor: pointer;
}

.checkbox-white-box + label:after {
    content: '';
    position: absolute;
    left: 0;
    width: 18px;
    height: 18px;
    border: 2px solid white;
    color: white;
    border-radius: 4px;
}

.checkbox-white-box:checked + label:before {
    top: 7px;
    content: '';
    position: absolute;
    left: 7px;
    width: 5px;
    height: 5px;
    background-color: white;


}

.consultation__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    background: none;
    height: 58px;
    width: 165px;
    border-radius: 7px;
    border: 3px solid #FFFFFF;
    color: white;
    outline: none;
}

.consultation__img-left {
    left: 0;
    top: 0;
    position: absolute;
}

.consultation__img-right {
    position: absolute;
    right: 0;
    top: 170px;
}

.consultation__textarea {
    background: none;
    border: none;
    width: 100%;
    border-bottom: 2px solid white;
    resize: none;
    height: 60px;
    padding-top: 18px;
    max-width: 751px;
}

.header__logo {
    position: relative;
    z-index: 3;
}

.consultation__text {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    color: white;
    padding-left: 20px;
    line-height: 12px;

}

.consultation__text:after {
    position: absolute;
    content: '*';
    color: white;
    left: 0;
}

.consultation__feedback {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: white;

}

.consultation__feedback:hover {
    color: white;
}

.consultation-after-img {
    height: 240px;
}

.consultation-after__img {
    top: -50px;
    position: absolute;
    right: 0;
}

.consultation-after-img__subtitle {
    position: relative;
    font-size: 85px;
    line-height: 74px;
    width: 290px;
    margin: 70px auto 0;

}

.consultation-after-img__subtitle:after {
    position: absolute;
    content: url("../../image/consultation-title-img.png");
    top: -18px;
    right: -230px;
}

.footer {
    border-top: 1px solid #1D3557;
    padding-top: 75px;
    padding-bottom: 100px;
}

.footer__text {
    margin-top: 30px;
    font-weight: 400;
    font-size: 16px;
}

.footer__input-subtitle {
    font-size: 49px;
    color: #0B1727;
    font-family: 'Druk Cyr';
    line-height: 87.4%;

}

.footer__input {
    border-color: #C1C1C1;
    color: #909090;
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 25px;
    width: 100%;
}

.footer__input::placeholder {
    color: #909090;
    font-weight: 500;
    font-size: 16px;
}

.footer__subtitle {
    font-weight: 700;
    font-size: 21px;
    color: #0B1727;
}

.footer__list-item {
    margin-top: 30px;
}

.footer__links {
    border-bottom: 1px solid #0B1727;
    color: #0B1727;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.footer .header__email {
    line-height: 35px;
}

.footer .header__number {
    margin-top: 58px;
}

.footer__header {
    margin-top: 20px;
    width: 190px;
}

.header__burger {
    margin-left: 30px;
}

.main-microchips-two {
    position: absolute;
    right: 0;
    top: 0;
}

.main-section__title {

    text-transform: none;

    font-weight: 500;
    line-height: 52px;
    font-size: 55px;
    margin-top: 100px;
    font-style: normal;
    z-index: 6;
    position: relative;

}

.main-section__btn {
    background-color: #1D3557;
    height: 58px;
    width: 100%;
    max-width: 256px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: white;
    border-radius: 7px;
}

.main-section__img {
    display: block;
    margin: 0 auto;
    margin-top: 160px;
}

.main-section__descr {
    font-size: 19px;
}


.main-section__block {
    padding-top: 23px;
    padding-bottom: 23px;
    background: #F0F0F0;
    border-radius: 10px;
    padding-left: 27px;
    padding-right: 50px;
    width: 100%;
    max-width: 350px;
    position: relative;
    margin-top: 40px;
    opacity: 1;
}

.block__subtitle {
    font-weight: 700;
    font-size: 16px;
    color: #0B1727;
}

.block__text {
    font-weight: 400;
    font-size: 14px;
    color: #0B1727;
    width: 100%;
    max-width: 200px;
}

.block__img {
    margin-right: 30px;
}

.main-section__block:nth-of-type(2) {
    margin-top: 80px;
}

.main-section__open-menu {
    background: #0B1727;
    border-radius: 30px 0px 0px 30px;
    width: 16px;
    height: 280px;
    position: absolute;
    top: 35%;
    right: 0;
    cursor: pointer;
}

.main-section__open-menu img {
    position: absolute;
    top: 50%;
    left: 5px;

}

.main-section__offer-btn {
    display: inline-block;
    font-weight: 700;
    color: #1D3557;
    font-size: 18px;
    border-bottom: 1px solid #1D3557;
    cursor: pointer;
}

.advantage {
    margin-top: 100px;
}

.subtitle {
    font-size: 60px;
    font-family: 'Druk Cyr';
    font-weight: 500;
}

.subtitle b {
    color: #0076C9;
}

.advantage__guarantee-text {
    max-width: 300px;
}

.advantage__form-wrapper {
    padding-left: 32px;
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #CEEBFF;
    box-shadow: -7px -6px 18px rgba(0, 27, 98, 0.1), 7px 10px 16px rgba(0, 27, 98, 0.1);
    border-radius: 14px;
}

.advantage__input-subtitle {
    color: #0B1727;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    max-width: 200px;
}

.advantage__input::placeholder {
    font-size: 14px;
    font-weight: 500;
    color: #0B1727;
}

.advantage__input {
    padding-bottom: 7px;
    color: #0B1727;
    font-size: 14px;
    font-weight: 500;
    border-bottom-color: #0B1727;
}

#advantage__checkbox + label {
    color: #0B1727;
}

#advantage__checkbox + label:after {
    border-color: #0B1727;
    top: 0;
    bottom: 0;
    margin: auto;
}

#advantage__checkbox + label:before {
    background-color: #0B1727;
    top: 0;
    bottom: 0;
    border-radius: 1px;
    margin: auto;
}

.advantage__guarantee-btn {
    width: 220px;
    border: 3px solid #0B1727;
    border-radius: 7px;
    background: none;
}

.advantage__result-block {
    padding-left: 30px;
    border-left: 4px solid #4C4C9D;
    /*height: 160px;*/
    height: 100%;
}

.blue {
    border-color: #4C4C9D;
    color: #4C4C9D;
}

.green {
    border-color: #317B22;
    color: #317B22;
}

.pink {
    border-color: #EA526F;
    color: #EA526F;
}

.darkPink {
    border-color: #4D243D;
    color: #4D243D;
}

.purple {
    border-color: #A167A5;
    color: #A167A5;
}

.orange {
    border-color: #D17A22;
    color: #D17A22;
}

.advantage__result-wrapper:nth-of-type(1) {
    margin-top: 0;
}

.advantage__result-wrapper:nth-of-type(2) {
    margin-top: 0;
}

.advantage__result-wrapper {
    margin-top: 130px;
}

.advantage__left-bg {
    position: absolute;
    left: 0;
    top: 200px;
    z-index: -1;
}

.advantage__center-bg {
    position: absolute;
    right: 350px;
    top: 80px;
    z-index: -1;
}

.clients-swiper {
    margin-top: 90px;
    padding-bottom: 90px;
}

.clients-swiper__images-wrapper {

}

.clients-swiper__images-block {
    width: 190px;
    height: 170px;
    border: 2px solid #C2C2C2;
    border-radius: 8px;
    background: #F8F8F8;
}

.clients-swiper .clients__progress-swiper {
    margin-top: 80px;
    width: 100%;
    max-width: 1030px;
}

.clients-swiper .clients__number-swiper {
    margin-top: 75px;
}

.clients-swiper .clients__btn-swiper {

    right: -23px;
}

.clients-swiper__left-img {
    position: absolute;
    right: 0;
    z-index: -1;
    top: -170px;
}

.clients-swiper__right-img {
    position: absolute;
    left: 0;
    z-index: -1;
    top: -185px;
}

.advantage__list-item {
    position: relative;
    padding-left: 30px;
    margin-left: 50px;
    font-size: 16px;
    font-weight: 500;
    color: #0B1727;
    margin-top: 25px;
}

.advantage__list-item:before {
    content: url("../../image/advantage__list-item.png ");
    position: absolute;
    bottom: 8px;
    left: 0;
    margin: auto;
    top: 0;
    width: 14px;
    height: 14px;

}

.advantage__cards {
    background: #F8F8F8;
    border: 2px solid #D8D8D8;
    border-radius: 6px;
}

.purpleWhite {
    color: #645EFB;
}

.advantage__cards-icon {

    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

.advantage__cards-subtitle {
    position: relative;
    padding-bottom: 12px;
}

.advantage__cards-subtitle:before {
    position: absolute;
    content: '';
    width: 33px;
    left: 0;
    right: 0;
    margin: auto;
    height: 2px;
    bottom: 0;

}

.advantage__cards .card-footer {
    background: #F8F8F8;
    padding-bottom: 30px;
}

.purpleWhite:before {
    background: #645EFB;

}

.advantage__cards-text {
    max-width: none;
    margin: 0 auto;
}

.advantage__cards-old-price {
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #959595;
    font-size: 14px;
    font-weight: 400;
    width: 100px;
    text-align: center;
}

.advantage__cards-current-price {
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    color: #645EFB;
    margin-top: 10px;
}

.advantage__cards-button {
    background: none;
    width: 130px;
    height: 50px;
    border-style: solid;
    border-width: 3px;
    border-radius: 7px;
    line-height: 42px;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
}

.purpleWhite .advantage__cards-button {
    border-color: #645EFB;
}

.advantage__cards-sale {
    position: absolute;
    top: -9px;
    left: 23px;
}

.advantage2-bg-2 {
    position: absolute;
    right: 170px;
    top: 120px;
    z-index: -1;
}

.advantage2-bg-1 {
    position: absolute;
    z-index: -1;
    top: 300px;
    left: 0;

}

.reviews {
    margin-top: 100px;
    padding-bottom: 90px;
}

.reviews__tab-subtitle {
    font-weight: 700;
    font-size: 16px;
    color: #848484;
}

.reviews__tab-subtitle {
    cursor: pointer;
}

.after-click {
    color: #0076C9;
    text-decoration-line: underline;
}

.gradient-line {
    height: 2px;
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #0076C9, rgba(255, 255, 255, 0));
}

.reviews__slider-wrapper-img {
    width: 190px;
    height: 170px;
    background: #F7F7F7;
    border: 2px solid #0076C9;
    border-radius: 8px;
    position: relative;

}

.reviews__slider {
    padding-bottom: 20px;
    padding-top: 33px;
}

.reviews__slider-wrapper-img img {
    display: block;
}

.reviews__slider-wrapper-text {
    width: 220px;
}

.reviews__slider-title {
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
    border-top: 2px solid #0076C9;
    color: #0076C9;
    display: inline-block;
    padding-left: 20px;
    padding-top: 5px;
}

.reviews__slider-descr {
    position: relative;
    font-weight: 400;
    font-size: 14px;
    padding-left: 30px;
    padding-top: 20px;
    height: 125px;
    width: 100%;
    text-overflow: ellipsis;
    overflow-y: hidden;
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 4;*/
    /*-webkit-box-orient: vertical;*/
    padding-bottom: 20px;

}

.reviews__slider-descr:before {
    position: absolute;
    content: '“';
    font-size: 56px;
    color: #000000;
    font-weight: 500;

    width: 20px;
    height: 20px;
    line-height: 42px;
    left: 13px;
    top: 2px;


}

.reviews__slider-descr:after {
    position: absolute;
    content: '“';
    font-size: 56px;
    color: #000000;
    font-weight: 500;

    width: 20px;
    height: 20px;
    line-height: 42px;
    right: 10px;
    bottom: 0;


}

.reviews__slider-bg {
    position: absolute;
    width: 128px;
    height: 234px;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
    border-radius: 11px;

}

.reviews__nav-wrapper .reviews__progress-swiper {
    position: relative;
    max-width: 1060px;
    width: 100%;

    height: 4px;
    border-radius: 9px;
    background: var(--grayWhite);
}

.reviews__nav-wrapper .reviews__progress-swiper .swiper-pagination-progressbar-fill {
    background-color: var(--black);
    border-radius: 17px;


}

.reviews__number-swiper {
    width: 40px;

    margin-left: 10px;
    height: 10px;
}

.reviews__btn-swiper {
    right: -60px;
    position: relative;
}

.reviews_swiper-next {
    margin-right: 30px;
}

.reviews__nav-wrapper {
    margin-top: 80px;
}

.services-slider__input {

}

.services-slider__btn-wrapper {
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
}

.services-slider__input + label {
    font-weight: 700;
    font-size: 18px;
    color: #848484;
    cursor: pointer;
    margin-right: 80px;

    margin-bottom: 20px;

}

.services-slider {
    padding-bottom: 140px;
}

.services-slider__input:checked + label {
    font-weight: 700;
    font-size: 18px;
    color: #0076C9;
    text-decoration-line: underline;
}

.services-slider__card {
    background: #F8F8F8;
    border: 2px solid #D9D9D9;
    border-radius: 6px;
    width: 190px;
    height: 277px;
    cursor: pointer;
}

.services-slider__card-img {
    display: block;
    margin: 0 auto;
    margin-top: 35px;
}

.services-slider__card-title {
    font-weight: 700;
    font-size: 14px;
    width: 150px;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    height: 85px;
    overflow: hidden;

}

.services-slider__card-new-price {
    font-weight: 700;
    margin-top: 30px;
    font-size: 26px;
    text-align: center;
}

.services-slider__card-old-price {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 130px;
    text-align: center;
    color: #959595;
    font-size: 14px;
    font-weight: 400;
    bottom: 68px;

}
.services-slider__card:hover {
    filter: drop-shadow(0px 7px 19px rgba(11, 28, 86, 0.15));
}
.services-slider__nav-wrapper {
    margin-top: 50px;
    padding-left: 18px;
}

.services-slider__progress-swiper {
    position: relative;
    max-width: 1060px;
    width: 100%;
    height: 4px;
    border-radius: 9px;
    background: var(--grayWhite);
}
.services-slider__progress-swiper .swiper-pagination-progressbar-fill {
    background-color: var(--black);
    border-radius: 17px;
}
.services-slider__number-swiper{
    width: 40px;
    margin-left: 10px;
    height: 10px;
    position: relative;
}
.services-slider__btn-swiper {
    position: relative;
    right: -60px;
}
.services-slider__swiper {
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 18px;
    /*padding-right: 25px;*/
}
.services-slider__swiper-next {
    margin-left: 30px;

}
.services-slider__swiper-next.swiper-button-disabled {
    opacity: .6;
}
.services-slider__swiper-prev.swiper-button-disabled {
    opacity: .6;
}
.services-slider__left-bg {
    position: absolute;
    z-index: -1;
    left: 0;
}
.services-slider__right-bg {
    position: absolute;
    right: 0;
    z-index: -1;
    top: 300px;
}
.audit {
    background: #0B1727;
    padding-bottom: 70px;
   z-index: 2;
    /*overflow: hidden;*/
}
.audit__subtitle {
    color: white;
    margin-bottom: 60px;

}
.audit__text {
    line-height: normal;
}
.audit__feedback {
    margin-top: 50px;
    z-index: 2;
    position: relative;
}
.audit__button {
    margin-top: 70px;
}
.audit__left-bg {
    position: absolute;
    z-index: 1;
    left: 0;
    pointer-events: none;
}
.audit__right-bg {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0 ;
    pointer-events: none;
}
.team {
    margin-top: 50px;
    padding-bottom: 80px;
}
.team__name {
    font-weight: 700;
    font-size: 21px;
    color: #0B1727;

}
.audit .input-line {
    position: relative;
    z-index: 2;
}
.team__position {
    color: #0076C9;
    font-weight: 700;
    font-size: 18px;
}
.team__subtitle {
    font-weight: 700;
    font-size: 16px;
    color: #0B1727;
}
.team__descr {
    font-weight: 400;
    font-size: 14px;
    color: #0B1727;

}

@keyframes scroll {
    to {
        transform: translateY(-1130px)
    }
}